ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=INFO

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=tip
POSTGRES_PASSWORD=tip
POSTGRES_DB=tip

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

BACKEND_CORS_ORIGINS=["http://localhost:5173"]
